/* CABÇALHO */

header {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}

header img {
  width: 108px;
  height: 81px;
}

header nav {
  max-width: 1120px;
  display: flex;
  width: 100%;
  height: 145px;
  background-color: var(--color-background);

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

header .shopping-container #location {
  display: inline-flex;
  background-color: var(--color-vanilla);
  padding: 8px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}

header .shopping-container #location span {
  font-size: var(--font-title-xxs);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  color: var(--color-terracotta);
  width: 100%;
}
header .shopping-container #location i {
  color: var(--color-amber);
  font-size: 22px;
}
.shopping-cart {
  position: relative;
  background-color: var(--color-ivory);
  border-radius: 6px;
  height: 100%;
  padding: 8px;
  width: 36px;
  height: 40px;
}

.shopping-cart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: var(--color-dark-taupe);
  font-size: 22px;
  color: var(--color-amber);
}

header nav div button div {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(+50%, -40%);
  width: 20px;
  height: 20px;
  background-color: var(--color-amber);
  border-radius: 50%;
  top: 0px;
  justify-content: center;
  align-items: center;
}

header nav div button div .itemCounter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: var(--font-text-s);
  font-weight: var(--fw-bold);
  font-family: var(--font-roboto);
}

/* INFORMAÇÕES DE MAIN */
main {
  display: flex;
  padding: 0 160px;
  gap: 32px;
}
main section h1 {
  font-size: var(--font-title-xs);
  font-family: var(--font-baloo);
  color: var(--color-base-subtitle);
  font-weight: var(--fw-bold);
  line-height: var(--lh-normal);
  margin-bottom: 15px;
}

/* INFORMAÇÕES DE ENDEREÇO */

main section .conteiner-form {
  width: 640px;
}
main section .conteiner-form form {
  background-color: var(--color-base-card);
  padding: 40px;
  border-radius: 6px;
  margin-bottom: 12px;
}

main section .conteiner-form form .description {
  display: flex;
  margin-bottom: 32px;
  gap: 8px;
}
main section .conteiner-form form .description i {
  color: var(--color-amber);
  font-size: 22px;
  height: 22px;
}
main section .conteiner-form form .description .text-description {
  display: flex;
  flex-direction: column;
}
main section .conteiner-form form .description .text-description h2 {
  font-size: var(--font-text-m);
  font-family: var(--font-roboto);
  color: var(--color-base-subtitle);
  font-weight: var(--fw-regular);

  width: 100%;
}
main section .conteiner-form form .description .text-description span {
  font-size: var(--font-title-xxs);
  font-family: var(--font-roboto);
  color: var(--color-base-text);
  font-weight: var(--fw-regular);
}
main section .conteiner-form form .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 12px;
}
main section .conteiner-form form .inputs input {
  height: 42px;
  border: solid 1px var(--color-base-button);
  border-radius: 4px;
  background-color: var(--color-base-input);
  padding: 12px;
  color: var(--color-base-label);
  font-size: var(--font-title-xxs);
  font-weight: var(--fw-regular);
  font-family: var(--font-roboto);
}

main section .conteiner-form form .inputs #zipcode,
#number-adress,
#district {
  width: 200px;
}
main section .conteiner-form form .inputs #adress {
  width: 560px;
}
main section .conteiner-form form .inputs #complete {
  width: 348px;
}
main section .conteiner-form form .inputs #state {
  width: 60px;
}
main section .conteiner-form form .inputs #city {
  width: 276px;
}
main section .conteiner-form form .inputs div {
  position: relative;
}
main section .conteiner-form form .inputs div label {
  position: absolute;
  top: 45%;
  right: 12px;
  font-size: var(--font-text-s);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  font-style: italic;
  color: var(--color-base-label);
}

/* INFORMAÇÕES DE PAGAMENTO */
main section .conteiner-form .paySelected {
  background-color: var(--color-base-card);
  padding: 40px;
  border-radius: 6px;
}
main section .conteiner-form .paySelected .description {
  display: flex;
  margin-bottom: 32px;
  gap: 8px;
}

main section .conteiner-form .paySelected .description .text-description {
  display: flex;
  flex-direction: column;
}

main section .conteiner-form .paySelected i {
  color: var(--color-amber);
  font-size: 22px;
  height: 22px;
}
main section .conteiner-form .paySelected h2 {
  font-size: var(--font-text-m);
  font-family: var(--font-roboto);
  color: var(--color-base-subtitle);
  font-weight: var(--fw-regular);

  width: 100%;
}
main section .conteiner-form .paySelected span {
  font-size: var(--font-title-xxs);
  font-family: var(--font-roboto);
  color: var(--color-base-text);
  font-weight: var(--fw-regular);
}
main section .conteiner-form .paySelected .buttons {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
main section .conteiner-form .paySelected .buttons label {
  display: flex;
  gap: 12px;
  padding: 16px;
  height: 51px;
  width: 178px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: var(--color-base-button);  
  cursor: pointer;
}
main section .conteiner-form .paySelected .buttons label span{
font-size: var(--font-text-s);
 white-space: nowrap;
}
main section .conteiner-form .paySelected .buttons label input{ 
 position:absolute;
  opacity:0;
  pointer-events:none;
}
main section .conteiner-form .paySelected .buttons label:has(input:checked){ 
  border: solid 1px var(--color-amber);
  background:var(--color-vanilla);
}

/* INFORMAÇÕES DE itens escolidos */
main section .container-itens {
  background-color: var(--color-base-card);
  border-radius: 0 40px 0 40px;
  padding: 40px;

}
main section .container-itens article {
  display: flex;
  width:380px
}

main section .container-itens article img {
  width: 64px;
  height: 64px;
}

main section .container-itens article .iten-select{

}

main section .container-itens article .iten-select h1{
  font-size: var(--font-title-s);
  font-family: var(--font-baloo);
  font-weight: var(--fw-bold);
  line-height: var(--lh-normal);
  color: var(--color-base-subtitle);
}




/*input css*/

main section .container-itens article .iten-select .action-iten .amount {
  display: flex;
  background: var(--color-base-button);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  height: 38px;
  width: 72px;
  
}
main section .container-itens article .iten-select.action-iten  .amount button {
  background-color: transparent;
  display: flex;
  align-items: center;
}
main section .container-itens article .iten-select .action-iten .amount button i {
  color: var(--color-amber);
  font-size: 14px;
  cursor: pointer;
}
main section .container-itens article .iten-select .action-iten .amount input {
  border-radius: 6px;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 20px;
  font-size: var(--font-text-m);
  color: var(--color-base-title);
}
main section .container-itens article .iten-select .amount input[type="number"]::-webkit-outer-spin-button,
main section .container-itens article .iten-select .amount input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
main section .container-itens article .iten-select .amount input[type="number"]{
  -moz-appearance: textfield;
  appearance: textfield;
}
main section .container-itens article .iten-select .action-iten{
  display: flex;
  gap: 8px;
}
main section .container-itens article .iten-select .action-iten button {
cursor: pointer;
background-color: var(--color-base-button);
padding: 8px;
font-size:var(--font-text-s) ;
font-family:var(--font-roboto) ;
color:var(--color-base-text) ;
border-radius: 6px;
}
main section .container-itens article .iten-select .action-iten button i {
   color: var(--color-amber);
  font-size: 14px;
}

main section .container-itens article span {
font-family:var(--font-roboto) ;
font-size:var(--font-text-m) ;
color:var(--color-base-text) ;
font-weight:var(--fw-bold) ;
line-height:var(--lh-normal) ;
}