/* CABÇALHO */

header {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}
header img {
  width: 108px;
  height: 81px;
}
header nav {
  max-width: 1120px;
  display: flex;
  width: 100%;
  height: 145px;
  background-color: var(--color-background);

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header .shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}
header .shopping-container #location {
  display: inline-flex;
  background-color: var(--color-vanilla);
  padding: 8px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}
header .shopping-container #location span {
  font-size: var(--font-title-xxs);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  color: var(--color-terracotta);
  width: 100%;
}
header .shopping-container #location i {
  color: var(--color-amber);
  font-size: 22px;
}
.shopping-cart {
  position: relative;
  background-color: var(--color-ivory);
  border-radius: 6px;
  height: 100%;
  padding: 8px;
  width: 36px;
  height: 40px;
}
.shopping-cart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: var(--color-dark-taupe);
  font-size: 22px;
  color: var(--color-amber);
}
header nav div button div {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(+50%, -40%);
  width: 20px;
  height: 20px;
  background-color: var(--color-amber);
  border-radius: 50%;
  top: 0px;
  justify-content: center;
  align-items: center;
}
header nav div button div .itemCounter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: var(--font-text-s);
  font-weight: var(--fw-bold);
  font-family: var(--font-roboto);
}
/* INFORMAÇÕES DE MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
}

main .title h1 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-x);
  color: var(--color-amber);
  font-weight: var(--fw-bold);
  line-height: var(--lh-normal);
  margin-bottom: 4px;
}
main .title h2 {
  font-family: var(--font-roboto);
  font-size: var(--font-title-s);
  color: var(--color-base-subtitle);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}
main .confirmation {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

main .confirmation .delivey {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-amber);
  gap: 32px;
  padding: 40px;
  border-radius: 6px 36px 6px 36px;
  width: 526px;
}

main .confirmation .delivey div {
  display: flex;
  align-items: center;
}
main .confirmation .delivey div i{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: var(--font-text-m);
  color: var(--color-background);
  padding: 8px;
  margin-right: 12px;
}
main .confirmation .delivey div .ph-map-pin {
  background-color: var(--color-amber);
}
main .confirmation .delivey div .ph-calendar {
  background-color: var(--color-sand);
}
main .confirmation .delivey div .ph-currency-dollar {
  background-color: var(--color-dark-taupe);
}

main .confirmation .delivey .text-adress,
main .confirmation .delivey .text-date,
main .confirmation .delivey .text-pay {
  flex-direction: column;
  align-items: normal;
}

main span,
main strong {
  font-family: var(--font-roboto);
  font-size: var(--font-text-m);
  color: var(--color-base-subtitle);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}

main strong {
  font-weight: var(--fw-bold);
}

main .confirmation .img img {
  width: 492px;
  height: 293px;
}
