/* CABÇALHO */

header {
  display: flex;
  width: 100%;
  height: 145px;
  background-color: var(--color-background);
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 108px;
  height: 81px;
}

.marketCntainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

#yourLocation {
  display: inline-flex;
  background-color: var(--color-vanilla);
  padding: 8px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}

#yourLocation span {
  font-size: var(--font-title-xxs-fs14);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  color: var(--color-terracotta);
  width: 100%;
}

#yourLocation i {
  color: var(--color-amber);
  font-size: 22px;
}

.marketCar {
  background-color: var(--color-ivory);
  border-radius: 6px;
  height: 100%;
  padding: 8px;
}

.marketCar i {
  display: block;
  color: var(--color-dark-taupe);
  font-size: 22px;
}

/* INFORMAÇÕES DE INTRODUÇÃO */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  padding: 163px;
  height: 544px;
  gap: 30px;
}

#imgLogo img {
  width: 496px;
  height: 372px;
}

h1 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-xl-fs48);
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-normal);
}

.subtitle {
  font-family: var(--font-roboto);
  font-size: var(--font-title-s-fs20);
  font-weight: var(--fw-regular);
  margin-top: 16px;
}

.featureAll {
  display: flex;
  gap: 15px;
  margin-top: 66px;
}

.bulletPoints {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bulletPoints p {
  font-family: var(--font-roboto);
  font-size: var(--font-title-xxs-fs14);
  font-weight: var(--fw-regular);
}

#bulletcar,
#bullettimer {
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  color: var(--color-background);
}
#bulletcar {
  background-color: var(--color-dark-taupe);
}
#bullettimer {
  background-color: var(--color-sand);
}

/* INICIO DA SEÇÃO DO CATALONO */
.catalog {
  background: var(--color-background);
  padding: 0 163px;
}

h3 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-x-fs32);
  color: var(--color-base-title);
}

/* ADIÇÃO DE ITEM AO CARRINHO */

.catalogShow {
  display: grid;
}

.amountProducts {
  display: flex;
  background: var(--color-base-button);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 12px;
  width: fit-content;
}

.amountProducts i {
  color: var(--color-amber);
  font-size: var(--font-title-xxs-fs14);
  cursor: pointer;
}

.amountProducts input {
  border-radius: 6px;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 20px;
  font-size: var(--font-title-xs-fs18);
}

#addToCard {
  background-color: var(--color-terracotta);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

#addToCard  i {
  color: var(--color-base-card);
  font-size: 12px;
}