h1,
h3,
.titleItem {
  font-family: var(--font-baloo);
}

header {
  display: flex;
  width: 100%;
  height: 145px;
  background-color: var(--color-background);
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 108px;
  height: 81px;
}

.marketCntainer {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

#yourLocation {
  display: inline-flex;
  background-color: var(--color-vanilla);
  padding: 8px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}

#yourLocation span {
  font-size: var(--font-title-xxs-fs14);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  color: var(--color-terracotta);
  width: 100%;
}

#yourLocation i {
  color: var(--color-amber);
  font-size: 22px;
}

.marketCar {
  background-color: var(--color-ivory);
  border-radius: 6px;
  height: 100%;
  padding: 8px;
}

.marketCar i {
  display: block;
  color: var(--color-dark-taupe);
  font-size: 22px;
}
