/* CABÇALHO */

header {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}

header img {
  width: 108px;
  height: 81px;
}

header nav {
  max-width: 1120px;
  display: flex;
  width: 100%;
  height: 145px;
  background-color: var(--color-background);

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

header .shopping-container #location {
  display: inline-flex;
  background-color: var(--color-vanilla);
  padding: 8px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}

header .shopping-container #location span {
  font-size: var(--font-title-xxs);
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  color: var(--color-terracotta);
  width: 100%;
}

header .shopping-container #location i {
  color: var(--color-amber);
  font-size: 22px;
}

.shopping-cart {
  background-color: var(--color-ivory);
  border-radius: 6px;
  height: 100%;
  padding: 8px;
}

.shopping-cart i {
  display: block;
  color: var(--color-dark-taupe);
  font-size: 22px;
}

/* INFORMAÇÕES DE INTRODUÇÃO */

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  background-color: var(--color-background);
  gap: 30px;
}

.landing-page > img {
  width: 496px;
  height: 372px;
}

.landing-page #content h1 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-xl);
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-normal);
}

.landing-page #content h2 {
  font-family: var(--font-roboto);
  font-size: var(--font-title-s);
  font-weight: var(--fw-regular);
  margin-top: 16px;
}

.landing-page #content .features {
  display: flex;
  gap: 15px;
  margin-top: 66px;
}

.landing-page #content .feature {
  display: flex;
  align-items: center;
  gap: 12px;
}

.landing-page #content .feature #shopping-cart-icon,
.landing-page #content .feature #timer-icon {
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  color: var(--color-background);
}
.landing-page #content .feature #shopping-cart-icon {
  background-color: var(--color-dark-taupe);
}
.landing-page #content .feature #timer-icon {
  background-color: var(--color-sand);
}

.landing-page #content .feature span {
  font-family: var(--font-roboto);
  font-size: var(--font-title-xxs);
  font-weight: var(--fw-regular);
}

/* INICIO DA SEÇÃO DO CATALONO */
.catalog {
  background: var(--color-background);
  max-width: 1120px;
  margin: 0 auto;
}

.catalog h2 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-x);
  color: var(--color-base-title);
}

/* ADIÇÃO DE ITEM AO CARRINHO */

.catalog ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 32px;
  margin-top: 54px;
}

.catalog ul li {
  list-style: none;
  width: 256px;
}

.catalog ul li article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-base-card);
  border-radius: 6px 36px 6px 36px;
  padding: 20px 24px;
}

.catalog ul li article img {
  width: 120px;
  height: 120px;
  margin-top: -55px;
}
.catalog ul li article .tags {
  display:  flex;
  gap: 8px;
}
.catalog ul li article .tags span {
  font-size: var(--font-title-xxs);
  color: var(--color-dark-taupe);
  padding: 4px 8px;
  background-color: var(--color-ivory);
  border-radius: 100px;
  text-align: center;
  margin-top: 12px;
}

.catalog ul li article h3 {
  font-family: var(--font-baloo);
  font-size: var(--font-title-s);
  color: var(--color-base-subtitle);
  margin-top: 16px;
}

.catalog ul li article p {
  font-family: var(--font-roboto);
  font-size: var(--font-title-xs);
  color: var(--color-base-label);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  margin-top: 8px;
  text-align: center;
}

.catalog ul li article footer {
  display: flex;
  gap: 8px;
  margin-top: 33px;
}

.catalog ul li article footer span {
  font-size: var(--font-title-xxs);
  font-weight: var(--fw-regular);
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.catalog ul li article footer span strong {
  font-size: var(--font-title-m);
  font-family: var(--font-baloo);
}

.amount {
  display: flex;
  background: var(--color-base-button);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 12px;
  height: 38px;
}
footer .amount button {
  background-color: transparent;
  display: flex;
  align-items: center;
}

footer .amount button i {
  color: var(--color-amber);
  font-size: 14px;
  cursor: pointer;
}

footer .amount input {
  border-radius: 6px;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 20px;
  font-size: var(--font-title-xs);
  color: var(--color-base-title);
}

#addToCard {
  background-color: var(--color-terracotta);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

#addToCard i {
  color: var(--color-base-card);
  font-size: 22px;
}
