@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;

  border-bottom: none;
}

button {
  border: none;
  cursor: pointer;
}
